<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Classes
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var classModel in Model.Classes)
                    {
                        <li class="list-group-item">
                            @classModel.ClassName
                            <a href="@Url.Action("DeleteClass", "Class", new { id = classModel.ClassId })"
                               class="btn btn-danger float-right"
                               onclick="return confirm('Are you sure you want to delete this class? All associated students and tasks will be deleted!');">
                                Delete
                            </a>
                            <a href="@Url.Action("AddStudentsList", "Class", new { id = classModel.ClassId })" class="btn btn-primary float-right">Add Students</a>
                            <a href="@Url.Action("AddTasksList", "Class", new { id = classModel.ClassId })" class="btn btn-secondary float-right">Add Tasks</a>
                        </li>
                    }
                </ul>
                <a href="@Url.Action("AddClass", "ClassController")" class="btn btn-success mt-3">Add Class</a>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Subjects
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var subject in Model.Subjects)
                    {
                        <li class="list-group-item">
                            @subject.SubjectName
                            <a href="@Url.Action("DeleteSubject", "Subject", new { id = subject.SubjectId })" class="btn btn-danger float-right">Delete</a>
                        </li>
                    }
                </ul>
                <a href="@Url.Action("AddSubject", "Subject")" class="btn btn-success mt-3">Add Subject</a>
            </div>
        </div>
    </div>
</div>
