@model _29_July_Crud_Task.Models.users_CRUD

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@using (Html.BeginForm("Profile","users_CRUD", FormMethod.Post, new {enctype = "multipart/form-data"} ))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>users_CRUD</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
<label> Name </label>     
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label> Email </label> 
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label> Password </label> 
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label> Your Image </label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("Reset Password", "ResetPassword", "users_CRUD", new {area = ""}, new { @class = "btn btn - info" })

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
