@model Updated_CRUD_TASK.Models.users_CRUD

<div>
    <h4>users_CRUD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@"
        </dd>

    </dl>
</div>
<a href="@Url.Action("EditProfile", "users_CRUD", new {})" class="btn btn-primary"> Edit Profile</a>
<a href="@Url.Action("ResetPassword", "users_CRUD", new {})" class="btn btn-primary"> Reset Password</a>